
@model IEnumerable<mmmSelfservice.Models.department>
@{Layout = null; }
	<option class="text-blue" value="">Select Fund code</option>
@foreach (var item in Model)
{
	<option class="text-blue" value="@item.Code">@item.Name</option>
    
}

