@model IEnumerable<mmmSelfservice.Models.departmentvalue>
@{Layout = null; }
	<option class="text-blue" value="">Select Program code</option>
@foreach (var item in Model)
{
	<option class="text-blue" value="@item.Code">@item.Name</option>

}
