@model IEnumerable<mmmSelfservice.Models.PurchaseLines>


<table class="table">
    <tr>
        <th>
            Names
        </th>
        <th>
            Responsibilities
        </th>

        <th></th>
    </tr>

    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                 @Html.DisplayFor(modelItem => item.Description2)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Description3)
                </td>
                <td style="display:none">@item.LineNo</td>
            </tr>
        }
    </tbody>

</table>

