@model mmmSelfservice.Models.indexinfo  

<div class="form-group row">
    <label class="col-lg-3 col-form-label">Employee no:</label>
    <div class="col-lg-9">
        <input type="text" id="dateofactivity10" disabled="disabled" value="@Session["userName"].ToString()" class="form-control" />
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label">Employee name:</label>
    <div class="col-lg-9">
        <input type="text" id="missionteam10" value="@Model.name" class="form-control" />
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label">Supervisor name:</label>
    <div class="col-lg-9">
        <input type="text" id="invitedmembers10" value="" class="form-control" />
    </div>
</div>
