
@model IEnumerable<mmmSelfservice.Models.rolecenter>
@{Layout = null; }
<option class="text-blue" value="">Select G/L Account Code</option>
@foreach (var item in Model)
{
    <option class="text-blue" value="@item.Code">@item.Name</option>

}
