@model IEnumerable<mmmSelfservice.Models.documentUploads>

<div id="uploadedDocumentsDiv">
    <div class="col-md-12">
        <table class="table datatable-basic dataTable no-footer">


            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentDescription)
                    </td>
                    <td style="display:none">@Html.DisplayFor(modelItem => item.AttachmentNo)</td>
                    <td>
                        <button type="button" class="btn btn-small bg-success-400 btn-float legitRipple"><i class="icon-file-empty"></i></button>
                    </td>

                    <td><button type="button" class="btn btn-small bg-danger-400 btn-float  legitRipple" onclick="deleteAttachment('@item.AttachmentNo', '@item.DocumentNo', 'uploadedDocumentsDiv')"><i class="icon-folder-remove"></i></button></td>
                </tr>
            }

        </table>
    </div>

</div>
