@model List<mmmSelfservice.Models.imprestRinfoModel>
@{Layout = null; }
<option class="text-blue" value="">Select Requisition no</option>
@foreach (var item in Model)
{
    <option class="text-blue" value="@item.No">@item.No</option>

}

