@model IEnumerable<mmmSelfservice.Models.imprestRinfoModel>
@{Layout = null; }
	<option class="text-blue" value="">Select travel authorization</option>
@foreach (var item in Model)
{
	<option class="text-blue" value="@item.No">@item.No</option>

}

