
<div id="modal_backdrop121" class="modal fade" data-backdrop="false" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Travel authorization expense</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" data-select2-id="81">
                        <div data-select2-id="80">
                            <div class="card-header bg-white header-elements-sm-inline">
                                <h6 class="card-title"><i class="icon-reading mr-2"></i> Travel authorization expense :<text id="pno" class="text-primary"></text></h6>
                                <div class="header-elements">
                                    <button type="button" class="btn bg-blue btn-sm legitRipple" onclick="insertimprestSurrender()"><i class="icon-checkmark3 mr-2"></i> Save</button>
                                    <div class="btn-group">
                                        <button type="button" class="btn bg-brown dropdown-toggle legitRipple btn-sm" data-toggle="dropdown" aria-expanded="false">More <i class="icon-menu7 ml-2"></i></button>
                                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(152px, 38px, 0px);">
                                            <a class="dropdown-item"><i class="icon-file-download"></i> Download</a>
                                            <a  onclick="sendapproval()" class="dropdown-item"><i class="icon-file-check"></i> Send approval</a>
                                            <a href="#" class="dropdown-item"><i class="icon-folder-remove"></i> Cancel approval</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item"><i class="icon-cancel-circle2"></i> Delele</a>
                                        </div>
                                    </div>
                                </div>

                               

                            </div>

                            <div class="card-body" data-select2-id="79">
                                <div id="surrendercard">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

